.Header {
    background-color: brown;
    border-bottom: solid 1px #111111;
}

.header01 {
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
}

.underline {
    border-bottom: solid 1px #b8b8b8;
}

.Product {
    display: inline-block;
    width: 140px;
    border-radius: 7px;
    background-color: rgb(250, 250, 250);
    padding: 30px 20px;
    box-shadow: 0px 0px 10px 0px #d1d1d1;
    margin: 8px;
}

.Book {
    display: inline-block;
    width: 112px;
    height: 151px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 0px 10px 0px #d1d1d1;
    margin: 12px;
}

.image-panel {
    width: 112px;
    height: 151px;
}

.row-normal {
    height: 100px;
    width: 100%;
}

.Lesson {
    display: inline-block;
    width: 126px;
    box-shadow: 0px 0px 10px 0px #d1d1d1;
    margin: 8px;
    padding: 10px;
    border: solid 1px #74c9f0;

}

.star:hover {
    background-color: rgb(224, 149, 88);
}

.star {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    top: -40px;
    left: 75px;
    position: relative;
    background-color: rgb(247, 199, 70);
    font-size: 1.5rem;
    border-radius: 16px;
}

.book-item {
    margin-left: 40px;
    color: #000000;
}

.favsrow {
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 189px;
}

.row-inline {
    display: inline;
}

.row-panel {
    display: flex;
    justify-content: center;

}

.Basket {
    background-color: #2475d1;
}

.aside-panel {
    color: #eeeeee;
}

.list-card {
    padding: 3px;

}

.row-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
    padding: 10px 10px;
    border-radius: 3px;
    background-color: #4b5b6d;
}

.col-2x {

    flex: 2;
    align-items: center;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

.button-right {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 0.8rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #f0c040;
    width: 120px;
    cursor: pointer;
}

.cart-img {
    width: 26px;
    margin-right: 10px;
}

.step01-row01 {
    display: flex;
    justify-content: center;
    height: 40px;
    color: aliceblue;
    align-items: center;
    background-color: #74c9f0;
}

.step01-row02 {
    line-height: 150%;
    padding: 8px 20px;
    background-image: url("../images/tile01.png");
    margin-bottom: 20px;
    height: 50px;
    font-size: 0.9rem;
}

.step01-row03 {
    display: flex;
    justify-content: start;
    height: 40px;
    color: rgb(0, 0, 0);
    padding-left: 25px;
    align-items: center;
    background-color: #c4e4f3;
    font-weight: bold;
}

.step01-row04 {
    display: flex;
    justify-content: start;
    height: 40px;
    color: aliceblue;
    padding: 25px;
    align-items: center;
    background-color: #ffffff;
}


.cell01 {
    flex: 1;
    background-color: #74c9f0;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.cell02 {
    flex: 1;
    background-color: #043a53;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



.text01 {
    width: 120px;
    background-color: #4b5b6d;
}



.prevnextrow {
    margin: 50px 20px 120px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prevnext:hover {
    background-color: rgb(224, 149, 88);
}

.prevnext {
    margin: 0px 50px;
    padding: 7px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    position: relative;
    background-color: rgb(78, 133, 235);
    font-size: 1.0rem;
    border-radius: 5px;
    color: #eeeeee;
}


a {

    border: solid 1px #ffffff;
}

a:link {

    border: solid 20px #e09026;
}

a:visited {
 
    border: solid 10px #45e45f;
}

a:focus {
   
    border: solid 20px #1d11c7;
}

a:hover {
  
    border: solid 1px #b48d59;
}

a:active {
   
    border: solid 2px #e0263f;
}







.total-count {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 209px;
    background-color: #d7eafc;
    padding: 20px;
    border: solid 1px #1d1d1d;
    font-size: 2.0rem;

}

.total-count-text {
    font-size: 0.90rem;
    padding: 5px;
}

:focus {
    outline: 0;
    border-color: #2260ff;
 
}

.mydict div label span:hover {
    outline: 0;
    background-color: #a5def5;
}

.mydict-row {
    width: 100%;
    background-color: #cee408;
}

.mydict input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


.mydict input[type="radio"]:checked+span {
    box-shadow: 0 0 0 0.0625em #0043ed;
    background-color: #ffffff;
    z-index: 1;
    color: #000000;
}

.radio-con {
    padding: 20px 0px;
    font-size: 0.9rem;
    display: flex;
    color: #000000;
}

.radio-con-cell1 {

    flex: 1;
}

.radio-con-box {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: solid 1px #0043ed;
    text-align: center;
    margin-right: 5px;
    background-color: #ffffff;
}

.radio-con-cell2 {
    flex: 8;

}

.radio-con-cell3 {
    text-align: center;
    flex: 1;

}


label span {
    display: block;
    cursor: pointer;
    background-color: #dbdbdb;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .05em;
    color: #3e4963;
    text-align: start;
    transition: background-color .5s ease;
}


label:first-child span {
    /* border-radius: .375em 0 0 .375em; */
    background-color: #dbdbdb;
}

label:last-child span {
    /* border-radius: 0 .375em .375em 0; */
    background-color: #dbdbdb;
}



.step04-container {
    height: 660px;
    display: flex;
    background-color: #ffffff;
}

.step04-left {
    margin-top: 1px;
    margin-right: 2px;
    width: 250px;
    background-color: #ffffff;
}

.step04-right {
    flex: 1;
    background-color: #ffffff;
    background-color: #ffffff;
}


.step04-row {
    display: inline;
    width: 100%;
    background-color: #4b5b6d;
    border: solid 1px #116e92;
}

.step04-cell {
    width: 100%;
}

.qqq1 {
    text-align: start;
    padding: 8px;
    background-color: #e9e9e9;
    border-bottom: solid 1px #edfaff;
}




.del-con {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.0rem;
    color: #eeeeee;
}

.row-cen {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.0rem;
    color: #272727;
    /* border: solid 1px #167cc0; */
    border-radius: 5px;
    font-size: 0.9rem;
}

.del:hover {
    background-color: rgb(165, 86, 22);
    border: solid 1px #9d9bfd;
}

.del {
    cursor: pointer;
    background-image: url("../images/del.png");
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    position: relative;
    background-color: rgb(78, 133, 235);
    font-size: 1.0rem;
    border-radius: 5px;
    color: #eeeeee;

    border: solid 1px #cacaca;

}

.xlll {
    background-color: #cee408;
    height: 30px;
}


.step03-row {
    display: flex;
}

.step03-row:hover {
    background-color: #e9e9e9;

}

.row-one-vertical-title {
    background-color: #affaff;
    border-top: solid 1px #969696;
}


.row-one-vertical {
    background-color: #ffffff;

}

.col-001 {
    display: flex;
    align-items: center;
    text-align: start;
    flex: 0.3;
    border-bottom: solid 1px #969696;
    padding: 10px;
}

.col-002 {
    display: flex;
    align-items: center;
    flex: 0.5;
    border-bottom: solid 1px #969696;
    padding: 10px;
}

.col-003 {
    text-align: center;
    display: flex;
    flex: 0.12;
    justify-content: space-evenly;
    border-bottom: solid 1px #969696;
    padding: 10px;
}

.col-004 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 0.08;
    border-bottom: solid 1px #969696;
    padding: 10px;
}

.col-sub-l {
    font-size: 0.9rem;
    font-weight: bold;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: solid 1px #a8a8a8;
    border-radius: 18px;
}

.col-sub-r {
    font-size: 1.6rem;

    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: solid 1px #a8a8a8;
    border-radius: 18px;
}

.col-sub-c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.3;
}

.col-sub {

    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 18px;
    background-color: #f3f3f3;
}


.step04 {
    background-color: #ffffff;
    min-height: 660px;
}

.flex-two {
    display: flex;
    background-color: #ffffff;
    min-height: 650px;
}



.flex-two-cell1 {
    margin-right: 30px;
    height: 650px;
    flex: 0.45;
    background-color: #ffffff;
    /* overflow: auto; */
    /* scrollbar-color:   skyblue  gray; */
}

.flex-two-cell1::-webkit-scrollbar {

    width: 20px;
}

.flex-two-cell1::-webkit-scrollbar-track {
    background-color: rgb(235, 235, 235);
}

.flex-two-cell1::-webkit-scrollbar-thumb {
    background-color: rgb(173, 173, 173);
}

.flex-two-cell1::-webkit-scrollbar-button {
    /* background-color: rgb(20, 181, 245); */
    display: none;
}


























.flex-two-cell2 {
    flex: 0.55;
    padding-left: 10px;
    height: 650px;
}




.container {
    border: solid 10px #111111;
    background-color: #dab6b6;
    overflow: auto;
    /* scrollbar-color:   skyblue  gray; */
}


.container-selected {

    max-height: 640px;
    background-color: #9b3b3b;
    /* scrollbar-color:   skyblue  gray; */
}

.container::-webkit-scrollbar {
    width: 20px;
}

.container::-webkit-scrollbar-track {
    background-color: rgb(228, 228, 228);
}

.container::-webkit-scrollbar-thumb {
    background-color: skyblue;
}

.container::-webkit-scrollbar-button {
    /* background-color: rgb(20, 181, 245); */
    display: none;
}





.total-word {
    width: 100%;
    height: 640px;
    overflow: auto;
}

.total-word1 {
    background-color: #e8f6ff;
    width: 100%;
    overflow: auto;
    border-top: solid 1px #e2e2e2;
}

.total-word2 {
    background-color: #e8f6ff;
    width: 100%;
    overflow: auto;
    border-top: solid 1px #e2e2e2;
    max-height: 620px;
}

.total-con {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-bottom: solid 1px #e2e2e2;
}

.total-con1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-bottom: solid 1px #e2e2e2;
}


.total-con2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-bottom: solid 1px #e2e2e2;
    background-color: #ffffff;
}

.total-con-cell0 {
    padding-top: 3px;
    text-align: center;
    flex: 0.06;
}

.total-con-cell0 input {
    width: 17px;
    height: 17px;
}

.total-con-cell1 {
    text-align: start;
    flex: 0.25;
    font-size: 1.0rem;

}

.total-con-cell2 {
    text-align: start;
    flex: 0.44;
    font-size: 0.93rem;
}

.total-con-cell3 {
    text-align: start;
    flex: 0.15;
    font-size: 0.93rem;
}

.total-con-cell4 {
    flex: 0.1;
    font-size: 0.93rem;
}



.total-con1-cell1 {
    padding: 0px 10px;
    text-align: start;
    flex: 0.3;
    font-size: 1.0rem;
}

.total-con1-cell2 {
    text-align: start;
    flex: 0.44;
    font-size: 0.93rem;
}

.total-con1-cell3 {
    text-align: start;
    flex: 0.15;
    font-size: 0.93rem;
}

.total-con1-cell4 {
    flex: 0.1;
    font-size: 0.93rem;
}



.step05-con {
    display: flex;
    justify-content: space-between;
    padding: 0px 0;
}

.step05-panel1 {
    flex: 1;
    /* border: solid 1px #000000; */
}

.step05-panel2 {
    width: 211mm;
    height: 298mm;
    /* border: solid 1px #000000; */
    background-color: #f0f0f0;
    padding: 8px;
}

.s05-main {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

.s05-left {
    flex: 0.56;

}

.s05-right {
    flex: 0.39;
    margin-right: 20px;

}

.s05-title {
    background-color: white;
    font-weight: bold;
    font-size: 1.0rem;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: solid 1px #000000;
}

.s05-title-cell1 {

    padding: 5px;
}

.s05-title-cell2 {
    padding: 5px;
    color: red;
}

.s05-row {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    padding: 8px;
    border-bottom: solid 1px #dddddd;

}

.s05-date {

    padding: 15px;
width: 30px;

}

.s05-button {
    display: flex;
    justify-content: end;
    font-size: 0.8rem;
    padding: 10px 8px 20px 5px;
    border-bottom: solid 1px #dddddd;
}

.s05-dan {
    height: 200px;
    padding: 33px;

}

.s05-dan-con {
    height: 145px;
    padding: 25px;
    background-image: url("../images/dangubun.png");
    background-size: contain;
}

.s05-padding {
    height: 120px;
    padding: 33px;
}

.s05-padding-con {
    height: 85px;
    padding: 25px;
    background-image: url("../images/padding.png");
}

.button-div {
    margin: 24px;
    margin-left: 750px;
}

input {
    width: 300px;
    margin-left: 50px;
    height: 1.6rem;
    border: 1px solid black;
    border-radius: 6px;
}

.datepicker-toggle {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 19px;
}

.datepicker-toggle-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml;base64,...');
}
.datepicker-input {
background-color: #cee408;
    width: 250px;
}

.save-button:hover {
    background-color: rgb(224, 149, 88);
}

.save-button {
    padding: 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 222px;
    position: relative;
    background-color: rgb(78, 133, 235);
    font-size: 0.9rem;
    border-radius: 5px;
    color: #eeeeee;
}