.App {
  width: 1800px;
  height: 900px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  padding: 0;
}

.Main {
  background-color: #ffffff;
}
.main-title {
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 1.5rem;
  padding: 0px 35px;
  text-align: start;
}
.main-panel {
  height: 610px;
  background-color: rgb(255, 255, 255);
}
.main-panel4 {
  height: 676px;
  background-color: rgb(255, 255, 255);
}
.Top {
  background-color: blueviolet;
}
.Step01 {
  background-color: rgb(255, 255, 255);
  height: 840px;
}

.Step02 {
  background-color: rgb(255, 255, 255);
  height: 840px;
}

.Step03 {
  background-color: rgb(255, 255, 255);
  height: 840px;
}

.Step04 {
  background-color: rgb(255, 255, 255);
  height: 840px;
}

.Step05 {
  background-color: rgb(255, 255, 255);
  height: 840px;
}






@media print {
  .report+.report {
    margin-top: 0;
  }
}

@page {
  size: A4;
}